.resume {
  position: relative;
  width: 1024px;
  margin: 50px auto;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
