<div>
  <strong>2018-09 ~ 2021-04 小年糕小程序 前端技术负责人</strong>
</div>
<div>
  <strong>项目背景：</strong>
  <div>公司主产品，给用户提供极简的影集制作工具和丰富多彩的社区，曾长期霸占小程序榜单 Top1</div>
</div>
<div>
  <strong>技&nbsp;&nbsp;术&nbsp;&nbsp;栈：</strong>
  <div>原生小程序 + Redux + Gulp/Webpack 构建</div>
</div>
<div>
  <strong>工作内容：</strong>
  <ol>
    <li>内容社区探索和商业化探索前端开发，后续负责技术演进和体验优化</li>
    <li>项目优化，技术演进和工具开发</li>
  </ol>
</div>
<div>
  <strong>工作亮点：</strong>
  <ol>
    <li>支持内容社区探索使产品 DAU 从 100w 涨到 5000w，获得公司年度表彰</li>
    <li>解决小程序广告不能统计点击的卡点，为广告策略奠定基础</li>
    <li>设计开发 A/B 实验系统，支持产品快速迭代</li>
    <li>
      自研内部小程序开发框架，包括运行时框架、组件库、编译打包（gulp/webpack）和小工具，改版后需求吞吐量提升
      30%
    </li>
    <li>
      为测试开发桌面端一键预览分支工具（Electron）和<a
        href="https://github.com/littleprincewdk/ahaha-devtools"
        >移动端调试工具</a
      >，提高测试效率，获得一致好评；为产品开发"自定义统计助手"chrome 扩展，一键创建事件
    </li>
    <li>搭建团队开发测试流程，配合 gitlabci、机器人通知，降低沟通成本</li>
    <li>优化小程序性能，启动速度提升 30%，视频打开速度提升 40%</li>
  </ol>
</div>

<br />

<div>
  <strong>2020-09 ~ 2020-10 一歌一遇小程序 前端技术负责人</strong>
</div>
<div>
  <strong>项目背景：</strong>
  <div>公司孵化的新产品，玩法是和好友合唱歌曲</div>
</div>
<div>
  <strong>技&nbsp;&nbsp;术&nbsp;&nbsp;栈：</strong>
  <div>Taro</div>
</div>
<div>
  <strong>工作内容：</strong>
  <ol>
    <li>技术可行性调研，确定可行性</li>
    <li>项目搭建，功能开发</li>
  </ol>
</div>
<div>
  <strong>工作亮点：</strong>
  <ol>
    <li>发现并解决小程序播音/录音的很多坑，不断猜想测试，最大可能兼容各种坑</li>
    <li>尝试使用 taro 搭建出项目，带领 2 名小伙伴快速完成第一版开发</li>
  </ol>
</div>

<br />

<hr />

<div>
  <strong>2019-06 ~ 2019-10 成语通关大赛小游戏 前端技术负责人</strong>
</div>
<div>
  <strong>项目背景：</strong>
  <div>商业化探索产品，填成语益智游戏</div>
</div>
<div>
  <strong>技&nbsp;&nbsp;术&nbsp;&nbsp;栈：</strong>
  <div>Laya 游戏引擎</div>
</div>
<div>
  <strong>工作内容：</strong>
  <ol>
    <li>技术探索，确定可行性</li>
    <li>项目搭建，功能开发</li>
  </ol>
</div>
<div>
  <strong>工作亮点：</strong>
  <ol>
    <li>技术从 0 到 1 的探索，快速学习开发出原型</li>
    <li>和产品一起讨论游戏设计，推动设计产出动效</li>
    <li>开发无埋点统计系统，产品自由配置，埋点 0 成本</li>
  </ol>
</div>

<br />

<div>
  <strong>2018-06 ~ 2018-08 小年糕公众号 前端开发</strong>
</div>
<div>
  <strong>项目背景：</strong>
  <div>小年糕小程序的公众号版</div>
</div>
<div>
  <strong>技&nbsp;&nbsp;术&nbsp;&nbsp;栈：</strong>
  <div>React + Redux + Webpack</div>
</div>
<div>
  <strong>工作内容：</strong>
  <ol>
    <li>从工具转向社区的探索，负责社区功能的开发</li>
    <li>期间赶上公众号和 app 使用 react-native 同构，开发了 react-native 一些组件的 web 版</li>
  </ol>
</div>
<div>
  <strong>工作亮点：</strong>
  <ol>
    <li>高质量完成需求，帮助社区项目探索成功</li>
    <li>快速上手 react-native，通过阅读源码开发 web 版组件</li>
  </ol>
</div>

<br />

<div>
  <strong>2017-06 ~ 2018-05 小年糕 op 前端开发</strong>
</div>
<div>
  <strong>项目背景：</strong>
  <div>小年糕产品的后台运营工具</div>
</div>
<div>
  <strong>技&nbsp;&nbsp;术&nbsp;&nbsp;栈：</strong>
  <div>React + Redux + Webpack</div>
</div>
<div>
  <strong>工作内容：</strong>
  <ol>
    <li>负责日常功能开发：客服消息系统、影集、评论、音乐、内容审核、统计等等</li>
    <li>技术演进</li>
  </ol>
</div>
<div>
  <strong>工作亮点：</strong>
  <ol>
    <li>独自一人承担整个项目的大量功能开发，同时和产品讨论 UI 设计（无设计资源）</li>
    <li>初期缺少后端资源，自己同时承担了后端接口开发 3 个月</li>
  </ol>
</div>
